body{
	background: #41b1f2;
}
.spinner{
	width: 300px;
	height: 300px;
	border: 20px solid #666;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	position: relative;
	display: inline-block;
	margin: 150px;
	top: 40px;
	left: 320px;
}
.spinner::before{
	content: "";
	position: absolute;
	width: 100px;
	height:100px;
	border-radius: 50%;
	background: #52f140;
	top: 100px;
	left: 100px;
}
.spinner::after{
	content: "";
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 50%;
	background: #fff;
	top: 25px;
}
@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}