body{
    margin: 0px;
    padding: 0px;
    background: url(f4.jpg);
    background-size: cover;
}
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
}
.container img{
    width: 100%;
    transition: all 2.5s ease-in-out;
}
.container:hover img{
    transform: scale(1.5) rotate(360deg);
}
